footer {
    padding-bottom: 175px;
    section {
        &.footer {
            .salix-logo-links {
                display: flex;
                justify-content: space-between;
                align-items: end;
                border-bottom: 1px solid #707070;
                padding-bottom: 28px;

                .salix-logo {
                    img {
                        width: 220px;
                    }
                }

                ul {
                    display: flex;

                    li {
                        a {
                            color: #0073B9;
                            font-family: $Raleway;
                            font-weight: 500;
                            font-size: 26px;
                            line-height: 32px;
                            text-decoration: none;
                            margin-right: 15px;
                        }

                        &:last-child {
                            a {
                                margin-right: 0;
                            }
                        }
                    }
                }
            }

            .footer-content {
                margin-top: 48px;

                p {
                    color: #4D4D4D;
                    font-family: $Raleway;
                    font-weight: 500;
                    font-size: 22px;
                    line-height: 25px;
                    margin-bottom: 15px;

                    a {
                        color: #0059B4;
                    }
                }
            }
        }
    }
}

@media (max-width: 991px) {
    footer {
        padding-bottom: 50px;
        section {
            &.footer {
                padding: 0;

                .salix-logo-links {
                    flex-direction: column;
                    align-items: unset;
                    padding-bottom: 23px;

                    .salix-logo {
                        margin-bottom: 28px;

                        img {
                            width: 140px;
                        }
                    }

                    ul {
                        flex-direction: column;

                        li {
                            a {
                                font-size: 18px;
                                line-height: 24px;
                            }

                            &:last-child {
                                a {
                                }
                            }
                        }
                    }
                }

                .footer-content {
                    margin-top: 28px;

                    p {
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 20px;

                        a {
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 1200px) and (max-width: 1399px) {
    footer {
        section.footer {
            .salix-logo-links {
                ul {
                    li {
                        a {
                            font-size: 22px;
                        }
                    }
                }
            }
        }
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    footer {
        section.footer {
            .salix-logo-links {
                ul {
                    li {
                        a {
                            font-size: 18px;
                        }
                    }
                }
            }
        }
    }
}