@font-face {
    font-family: Museo Sans;
    src: url(../fonts/fonnts.com-Museo_Sans_100.otf);
    font-weight: 100;
}

@font-face {
    font-family: Museo Sans;
    src: url(../fonts/fonnts.com-Museo_Sans_300.otf);
    font-weight: 300;
}

@font-face {
    font-family: Museo Sans;
    src: url(../fonts/fonnts.com-Museo_Sans_500.otf);
    font-weight: 500;
}

@font-face {
    font-family: Museo Sans;
    src: url(../fonts/fonnts.com-Museo_Sans_700.otf);
    font-weight: 700;
}

@font-face {
    font-family: Museo Sans;
    src: url(../fonts/fonnts.com-Museo_Sans_900.otf);
    font-weight: 900;
}
